In [ ]:
!pip install -q trino

In [ ]:
from trino.dbapi import connect
from trino.auth import OAuth2Authentication
from redirect_handler import REDIRECT_HANDLER
import urllib3

urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

TRINO_URI = "https://lakekeeper-trino-proxy:443"

# Use the Catalog (User 1: Peter)
Now that the catalog is created, we can use it as usual. Lets login again (if asked) as `peter`, this time directly to the catalog so that we don't have to prefix schemas with `lakekeeper`:

In [ ]:
conn = connect(
    host=TRINO_URI,
    auth=OAuth2Authentication(REDIRECT_HANDLER),
    http_scheme="https",
    verify=False,
    catalog="lakekeeper" # This line is new
)

In [ ]:
cur = conn.cursor()
cur.execute("CREATE SCHEMA IF NOT EXISTS finance")

In [ ]:
cur.execute("CREATE TABLE IF NOT EXISTS finance.revenue (year INT, revenue DOUBLE)")
cur.execute("INSERT INTO finance.revenue VALUES (2023, 10342.1), (2024, 10645.2)")
print(cur.execute("SELECT * FROM finance.revenue").fetchall())

In [ ]:
cur.execute("CREATE TABLE IF NOT EXISTS finance.products (product_id INT, description VARCHAR)")
cur.execute("INSERT INTO finance.products VALUES (1, 'Product 1'), (2, 'Product 2')")
print(cur.execute("SELECT * FROM finance.products").fetchall())